<div class="jumbotron">
    <div id="banner">
        <div class="container">
            <header class="display-5 banner-header rounded shadow">Welcome to Tech-ish, a Tech blog!
                <br><br>
                <h4 class="subheader">Welcome to Tech-ish the tech blog! Here you can make posts about Tech, and view/comment on posts from other users!</h4>
            </header>
        </div>
    </div>
</div>